<div class="page-section">
{% include base_path %}

{% assign verdicts = "reproducible,nonverifiable,nosource,custodial,obfuscated" | split: "," %}
{% assign posts = site.android | sort: "users" | reverse %}
<table id="gridOfWallets2">
  <tr>
    <td>
      <count>0</count><label>Audited?</label>
    </td>
    <td>
    </td>
  </tr>
  {% for v in verdicts %}
    {% assign total = 0 %}
    {% for post in site.android %}
      {% if post.verdict == v %}
        {% assign total = total | plus: post.users %}
      {% endif %}
    {% endfor %}
    <tr>
      <td>
        <count>{{ total }}</count>
        <label class="stamp stamp-{{ site.data.verdicts[v].short }}">{{ site.data.verdicts[v].short }}</label>
      </td>
      <td>
        {% for post in posts %}
          {% case post.users %}
            {% when 500000000 %}
              {% assign height = 70 %}
            {% when 100000000 %}
              {% assign height = 32 %}
            {% when 50000000 %}
              {% assign height = 22 %}
            {% when 10000000 %}
              {% assign height = 10 %}
            {% when 5000000 %}
              {% assign height = 7 %}
            {% when 1000000 %}
              {% assign height = 3.2 %}
            {% when 500000 %}
              {% assign height = 2.2 %}
            {% when 100000 %}
              {% assign height = 1 %}
            {% when 50000 %}
              {% assign height = 0.7 %}
            {% when 10000 %}
              {% assign height = 0.3 %}
            {% when 5000 %}
              {% assign height = 0.2 %}
            {% else %}
              {% assign height = 0.1 %}
          {% endcase %}
          {% if post.verdict == v %}
            <a href="{{ base_path }}{{ post.url }}" rel="permalink">
              <img src="{{ base_path }}/images/wallet_icons/android/small/{{ post.icon }}" class="app_logo"
                alt="Wallet Logo" style="height:{{ height }}em;{% if height < 0.5 %}border: 1px solid var(--text);{% endif %}">
            </a> 
          {% endif %}
        {% endfor %}
      </td>
    </tr>
  {% endfor %}
</table>
</div>