/* ==========================================================================
   FOOTER
   ========================================================================== */

.page__footer {
  @include clearfix;
  float: left;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  clear: both;
  /* sticky footer fix start */
  position: absolute;
  bottom: 0em;
  height: auto;
  /* sticky footer fix end */
  margin-top: 3em;
  color: var(--accent);
  -webkit-animation: intro 0.3s both;
  animation: intro 0.3s both;
      animation-delay: 0s;
  -webkit-animation-delay: 0.45s;
  animation-delay: 0.45s;
  background-color: #222;

  .footer-links{
    display: inline-flex;
    flex-direction: row;
    column-gap: 1rem;
    row-gap:1rem;
    flex-wrap: wrap;

    a {
      color: inherit;
      text-decoration: none;
      background: #333;
      padding: 4px 8px;
      border-radius: 8px;
  
      &:hover {
        background: #444;
      }
    }

  }

  footer {
    @include clearfix;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    max-width: 100%;
    padding: 0 1em 2em;

    @include breakpoint($x-large) {
      max-width: $x-large;
    }
  }

  a {
    color: inherit;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

}

.page__footer-copyright {
  font-family: $global-font-family;
  font-size: $type-size-7;
}

.page__footer-follow {
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  li {
    display: inline-block;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: $sans-serif-narrow;
    font-size: $type-size-6;
    text-transform: uppercase;
  }

  li + li:before {
    content: "";
    padding-right: 5px;
  }

  a {
    padding-right: 10px;
    font-weight: bold;
  }

  .social-icons {
    a {
      white-space: nowrap;
    }
  }
}
